<!DOCTYPE html>
<%= render "/refinery/html_tag" %>
  <% site_bar = render('/refinery/site_bar', :head => true) -%>
  <head>
    <%= render "/refinery/head" %>
    <link href='http://fonts.googleapis.com/css?family=Raleway:400,100,200,600,800' rel='stylesheet' type='text/css'>
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
  </head>
  <body id="<%= canonical_id @page %>">
    <%= site_bar -%>
    <div id="page_container">
      <header id="header">
        <%#= render "/refinery/header" -%>
        <div class="container">
          <div class="row">
            <div class="col-md-3 col-md-offset-1">
              <%= link_to (image_tag 'logo.png', class: 'img-responsive'), '/' %>
            </div>
            <div class="col-md-7">
              <ul class="nav nav-pills pull-right" style="margin-top:25px;">
                
                <li><a href="/sales">Sales</a></li>
                <li><a href="/marketing">Marketing</a></li>
                <li><a href="/business-coaching">Business Coaching</a></li>
              </ul>
            </div>


          </div>


        </div>
      </header>
      <section id="page">
        
          <%= yield %>
        
      </section>
      <footer>
        <div class="container"><%= render "/refinery/footer" -%></div>
      </footer>
    </div>
    <%= render "/refinery/javascripts" %>
  </body>
</html>
